{% extends 'dashboard.html' %}

{% block content %}

    <script src="https://hosted.paysafe.com/checkout/v2/paysafe.checkout.min.js"></script>

        <div class="container">
            <div class="jumbotron">

        {% if user.is_authenticated %}
            <h4>Please Pay</h4>

            <div>
                <button onclick="checkout()"> Pay ${{ total_amount }}</button>
            </div>


        {% else %}
            <h1>Welcome to the ROIIM!</h1>

        {% endif %}
            </div>
        </div>


    <script>
        function checkout() {
            api = "B-qa2-0-5f031cbe-0-302d021500890ef262296563accd1cb4aab790323d2fd570d30214510bcdacdaa4f03f59477eef13f2af5ad13e3044"
            paysafe.checkout.setup("cHJpdmF0ZS03NzUxOkItcWEyLTAtNWYwMzFjZGQtMC0zMDJkMDIxNDQ5NmJlODQ3MzJhMDFmNjkwMjY4ZDNiOGViNzJlNWI4Y2NmOTRlMjIwMjE1MDA4NTkxMzExN2YyZTFhODUzMTUwNWVlOGNjZmM4ZTk4ZGYzY2YxNzQ4", {
                "currency": "USD",
                "amount": {{total_amount}}00,
                "locale": "en_US",
                "customer": {
                    "firstName": "{{first_name}}",
                    "lastName": "{{last_name}}",
                    "email": "{{email}}",
                    "phone": "1234567890",
                    "dateOfBirth": {
                        "day": 1,
                        "month": 7,
                        "year": 1990
                    }
                },
                "billingAddress": {
                    "nickName": "{{first_name}} {{last_name}}",
                    "street": "20735 Stevens Creek Blvd",
                    "street2": "Montessori",
                    "city": "Cupertino",
                    "zip": "95014",
                    "country": "US",
                    "state": "CA"
                },
                "environment": "TEST",
                "merchantRefNum": "149900597607",
                "canEditAmount": true,
                "merchantDescriptor": {
                    "dynamicDescriptor": "XYZ",
                    "phone": "1234567890"
                    },
                "displayPaymentMethods":["skrill","card"],
                "paymentMethodDetails": {
                    "paysafecard": {
                        "consumerId": "1232323"
                    },
                    "paysafecash": {
                        "consumerId": "123456"
                    },
                    "sightline": {
                        "consumerId": "123456",
                        "SSN": "123456789",
                        "last4ssn": "6789",
                        "accountId":"1009688222"
                    },
                    "vippreferred":{
                        "consumerId": "550726575",
                        "accountId":"1679688456"
                    }
                }
            }, function(instance, error, result) {
                if (result && result.paymentHandleToken) {
                    console.log(result.paymentHandleToken);
                    // make AJAX call to Payments API
                } else {
                    console.error(error);
                    // Handle the error
                }
            }, function(stage, expired) {
                switch(stage) {
                    case "PAYMENT_HANDLE_NOT_CREATED": // Handle the scenario
                    case "PAYMENT_HANDLE_CREATED": // Handle the scenario
                    case "PAYMENT_HANDLE_REDIRECT": // Handle the scenario
                    case "PAYMENT_HANDLE_PAYABLE": // Handle the scenario
                    default: // Handle the scenario
                }
            });
        }
    </script>


{% endblock %}
