{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{% url 'checkout:checkout' %}">
    {% csrf_token %}
        <p style="margin:10px 10px auto">Enter Amount</p>
{#        {{ checkout_form.as_p }}#}
        <input type="number" id="amount" name="amount" placeholder="enter amount" value="{{ form_amount }}" style="margin:10px 10px auto"> <br>
        <input type="submit" name="submit" value="Checkout" style="margin:10px 10px auto" class="btn btn-primary" onclick="{% url 'checkout:checkout' %}">
    </form>
{% endblock %}
